{% extends 'base.html' %}
{% load humanize %}
{% block title %}
  Account Dashboard
{% endblock %}
{% block content %}
  <!-- Showcase -->
  {% include 'partials/_showcase-inner.html' with h1="User Dashboard" lead="Manage your BT Real Estate account" %}
  <!-- Breadcrumb -->
  {% include 'partials/_breadcrumb.html' %}
  <!-- alert -->
  {% include 'partials/_alert.html' %}
  <section
    id="dashboard"
    class="py-4"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>
            Welcome {{ user.first_name }}
          </h2>
          {% if inquiries %}
            <p>
              Here are the property listings that you have inquired about
            </p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                    Listing
                  </th>
                  <th scope="col">
                    Message
                  </th>
                  <th scope="col">
                    Sent
                  </th>
                  <th scope="col">
                    Property
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for inquiry in inquiries %}
                  <tr>
                    <td>
                      {{ inquiry.listing_title }}
                    </td>
                    <td>
                      {{ inquiry.message }}
                    </td>
                    <td>
                      {{ inquiry.created_at }}
                    </td>
                    <td>
                      <a
                        class="btn btn-light"
                        href="{% url 'listing' inquiry.listing_id %}"
                      >
                        View Listing
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>
              You haven't made any inquiries.
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}